{% load static %}
﻿<html class="language-en chrome windows" lang="en"><!--<![endif]--><head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="publisher" href="https://plus.google.com/106654976348919347395">

    <meta name="msapplication-config" content="none">


    <title>{% block title %}Arthub{% endblock title %}</title>



    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/header.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/commons.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/modals_commons.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/playlist-base.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/layout.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/show_new.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/large_temp.css?cache=2016100610" type="text/css" media="only screen and (min-width:1350px)">

    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/premium/premium-modals.css?cache=2016100610" type="text/css">

    <!--[if lte IE 7]>
	<link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/ie.css?cache=2016100610" type="text/css" />
	<![endif]-->

    <link rel="stylesheet" href="{% static 'hub/custom.css' %}" type="text/css"


<body class="logged-out">

<div class="wrapper">

    <header itemscope="" itemtype="http://schema.org/WPHeader" id="header" style="padding-bottom: 45px;">
        <div id="headerWrapper">
            <div id="headerContainer">


                <div class="logo pornhub_logo " title="Arthub">
                    <div itemscope="" itemtype="http://schema.org/Organization" class="logoWrapper">
                        <a itemprop="url" href="/">
                            <img title="arthub" alt="arthub" width="150" height="40" src="{% static 'hub/img/logo.png' %}">
                        </a>
                    </div>
                </div>

                <div class="headerSearchWrapper">
                    <form id="search_form" method="get" action="{% url 'index' %}">
                    <fieldset class="fs-nf">
                        <div id="searchBarContainer">
                            <input id="searchInput" type="text" value="" placeholder="Search..." maxlength="100" name="search">
                            <div id="btnSearch" class="orangeButton"></div>
                        </div>
                    </fieldset>
                    </form>
                </div>
                <div id="topRightProfileMenu">
                </div>
            </div>
        </div>

{#        <div itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" id="headerMenuContainer">#}
{#            <div id="headerMainMenuInner">#}
{#                <div id="headerCampaignDiv">#}
{#                    <ul id="headerMainMenu">#}
{#                        <li itemprop="name" id="menuItem1" class="menu item-1 home alpha">#}
{#                            <a itemprop="url" href="/" rel="" class="" target="_self">#}
{#                                Home#}
{#                                <span class="activeLine"></span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li itemprop="name" id="menuItem2" class="menu item-2 home">#}
{#                            <a itemprop="url" href="/video" rel="" class="active" target="_self">#}
{#                                Videos#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </header>
    <div class="container">
        {% block container %}
        {% endblock container %}
    </div><!-- closes container div-->

</div><!--closes section_wrapper-->


<!--closes section_wrapper-->



<div class="reset"></div>


<section id="footer">
    <div class="footerContent">
        <div class="col">
            <a href>So</a>
        </div>

        <div class="col">
            <a href>You need to know</a>
        </div>

        <div class="col">
            <a href>nothing</a>
        </div>

        <div class="col">
            <a href>about us</a>
        </div>
    </div>
</section>

</body></html>