{% load static %}
﻿<html class="language-en chrome windows" lang="en"><!--<![endif]--><head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="http://cdn1b.static.pornhub.phncdn.com/www-static/favicon.ico?cache=2016100610">
    <link rel="alternate" type="application/rss+xml" title="PornHub - RSS Feed" href="/rss">

    <link rel="canonical" href="http://www.pornhub.com/categories/hentai">
    <link rel="publisher" href="https://plus.google.com/106654976348919347395">

    <meta name="msapplication-config" content="none">


    <meta name="description" content="Free Hentai Porn Videos and Hot Anime Tube Movies on Pornhub. New hentai movies are added daily.">


    <title>Hentai Porn Videos: Free Hentai Sex Movies &amp; Anime Tube | Pornhub</title>



    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/header.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/commons.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/modals_commons.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/playlist-base.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/layout.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/show_new.css?cache=2016100610" type="text/css">
    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/large_temp.css?cache=2016100610" type="text/css" media="only screen and (min-width:1350px)">

    <link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/premium/premium-modals.css?cache=2016100610" type="text/css">

    <!--[if lte IE 7]>
	<link rel="stylesheet" href="http://cdn1b.static.pornhub.phncdn.com/www-static/css/ie.css?cache=2016100610" type="text/css" />
	<![endif]-->

    <link rel="stylesheet" href="{% static 'hub/custom.css' %}" type="text/css">

    <script type="text/javascript" async="" src="//cdn.engine.phn.doublepimp.com/Scripts/infinity.js.aspx?debugscript=true&amp;guid=7129f320-ce21-4b40-9d7e-37b1df8cf8f0" id="infinity" data-guid="7129f320-ce21-4b40-9d7e-37b1df8cf8f0" data-version="async" data-abr="false"></script><script type="text/javascript" async="" src="http://ss.phncdn.com/timings-1.0.0.js"></script><script type="text/javascript" async="" src="http://ss.phncdn.com/tubes-1.0.0.js"></script><script type="text/javascript" async="" src="http://ss.phncdn.com/head/load-1.0.3.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="http://ss.phncdn.com/html5shiv-3.6.2.js"></script>




    <script type="text/javascript" src="http://cdn1b.static.pornhub.phncdn.com/www-static/js/ph-tracking.js?cache=2016100610"></script>

    <script type="text/javascript">
        var amateurUserFlag 					= 0,
                changing_thumbs 					= [],
                disableFlipbook 					= 'false',
                largeVersionMinimumScreenSize 			= 1900,
                screensize 						= window.screen.width,
                isLogged 						= 0,
                pageKeyStat 						= "category_",
                platformPcSet 					= 1,
                focusSearchInput 					= 0, // Variable used in Header.js, related to search & autocomplete
                searchUrlVideo 					= "/video/search?search=",
                searchUrlPhoto 					= "/albums/female-straight-uncategorized?search=",
                searchUrlMember 					= "/user/search?gender=0&username=",
                searchUrlPornstar 					= "/pornstars/search?search=",
                searchUrlGifs 						= "/gifs/search?search=",
                searchUrlCam						= '/live?k=',
                messageViewAll 					= "/chat/index", // variables used in "phub.js", related to notification
                requestViewAll 					= "/user/friend_requests" ,
                notifViewAll 						= "/notifications",
                emailNotConfirmed 					= "Email not confirmed yet!",
                accountDisabled 					= "Account disabled. Please try again later.",
                loginError 						= "Invalid username/password!",
                error513 						= "Error 513.",
                error514 						= "Error 514.",
                error515 						= "Error 515.",
                errorNoUsername 					= "Please enter your username below:",
                errorNoPassword 					= "Please enter your password below:",
                adOrientation 					= "straight",
                category 						= "",
                showStreamate					= "0", 			premiumFlag						= "0",
                phOrientationSegment			= "straight";
        var playlists 			= "",
                watchLaterFull 		= "";

        var premiumRedirectCookieURL = 'http://www.pornhub.com/user/premium_redirect_cookie?ajax=1';

        function onLoad() {
            var site = 'pornhub';
            if (!window.jQuery) {
                try {
                    var a = new XMLHttpRequest();

                    a.open("GET", "http://www.etahub.com/trackn?app_id=10305&product_name=" + site + "&category=ss&value=1", true);
                    a.send();
                } catch(e) {

                }
            }
        }

        var videoTimeTrackingCondition 	= 0,
                playlistViewCountCondition 	= 0;


        var networkSegement = false;
        var	networkQuery = '@media only screen and (min-width: 1350px) { div.bar_body div.bar_items { width:1303px;} } ';

        var timing_appId = 16,
                timing_productId = 2,
                timing_pageType = 'categories';
        var page_params = {
            jqeuryVersion : '',
            isIE7 : false,
            isOldIE : false,
            loadOnce: false
        };

        page_params.zoneDetails = {};
    </script>
    <script src="http://media.trafficjunky.net/js/holiday-promo.js"></script>


    <!--[if lt IE 9 ]>
	<script type="text/javascript" src="http://ss.phncdn.com/jquery-1.10.2.js"></script>
	<script>page_params.isOldIE = true;</script>
	<![endif]-->

    <!--[if lt IE 8]>
	<script>page_params.isIE7 = true;</script>
	<!<![endif]-->

    <!-- Using within Load_script object for loading all scripts at once or to load one by one -->
    <!--[if lte IE 9 ]>
	<script type="text/javascript" src="http://ss.phncdn.com/jquery-1.10.2.js"></script>
	<script>page_params.loadOnce = true;</script>
	<![endif]-->


<body class="logged-out">






<div id="PornhubNetworkBar"></div>


<div id="yesNoModal" class="modalWrapper">
    <div class="modal-title">Confirmation</div>
    <div class="modal-body">
        <div class="text"></div>
        <div>
            <button class="spriteProfileIcons orangeButton bigButton yesBtn nodisable float-left mobileFriedly">OK</button>
            <button class="spriteProfileIcons greyButton light bigButton noBtn nodisable float-right mobileFriedly">Cancel</button>
            <div class="clear"></div>
        </div>
    </div>
</div>	<div id="infoModal" class="modalWrapper">
    <div class="modal-title"></div>
    <div class="modal-body">
        <div class="success-text"></div>
        <div class="error-text"></div>
        <div class="text"></div>
        <button class="orangeButton bigButton okBtn nodisable centered mobileFriedly cancelButton" data-modal="info">OK</button>
    </div>
</div>
<div id="popupBox">
    <div id="bkgContainer" class="absolute black-background" style="background: rgb(0, 0, 0); width: 100%; z-index: 105; top: 27px; left: 0px; display: none; height: 494px;"></div>
    <div id="boxThSel" class="absolute orange-frame-box orangeBoxWrap" style="top: 123.5px; z-index: 2147483647; display: none; left: 526.5px;">
        <div class="absolute" style="z-index: 110;">
            <div class="orange-frame-box orangeBoxIE7">
                <div class="relative rd-st-corner-wrapper rd-st-top">
                    <div class="absolute rd-st-corner rd-st-corner-left"></div>
                    <div class="rd-st-center"></div>
                    <div class="absolute rd-st-corner rd-st-corner-right"></div>
                </div>
                <div class="rd-st-middle rd-st-cont-left">
                    <div class="rd-st-middle rd-st-cont-right">				<div style="background:
url(http://cdn1a.static.pornhub.phncdn.com/misc/images/bzsuper.jpg) no-repeat 0 0; height: 361px; position: relative; width:
506px;">
                        <a href="#" onclick="popupContinue('http://www.pornhub.com/live/brazzers'); return false;" style="display: block; height: 52px; left: 26px; position: absolute;
top: 296px; width: 166px;"></a>
                        <a href="#" onclick="popupIgnore(); return false;" style="display: block; height: 22px; left: 209px; position: absolute;
top: 312px; width: 51px;"></a>
                    </div>					</div>
                </div>
                <div class="relative rd-st-corner-wrapper rd-st-bottom">
                    <div class="absolute rd-st-corner rd-st-corner-left"></div>
                    <div class="rd-st-center"></div>
                    <div class="absolute rd-st-corner rd-st-corner-right"></div>
                </div>			</div>
        </div>
    </div>
    <script type="text/javascript">
        var popupData,
                popStart 	= 'February 8, 2016 01:00 UTC',
                popEnd 		= 'February 8, 2016 01:35 UTC',
                popNow 		= 'October 11, 2016 21:00 UTC',
                popPercent 	= 100;
    </script>
</div>

<div id="signinModal" class="modalWrapper">
    <div class="singupModalWrapper">
        <div class="mainModalTitle">
            <noscript>
                &lt;br&gt;"Warning: either you have javascript disabled or your browser does not support javascript. To view the video, this page requires javascript to be enabled." &lt;br&gt;&lt;br&gt;
            </noscript>
            <span class="loginAccessTitle-en">Login or sign up <var class="txtname"></var></span>
        </div>
        <div class="modal-close js_closeModal"></div>
        <div class="modal-body clearfix">
            <form autocomplete="off" class="js-loginFormModal">
                <input type="hidden" class="js-redirect" name="redirect" value="DTlV1GRxazVtWjvqG3uBBXTci45ahx5MMi71WSrSqTJApFI-bfnvFGD_Qe0tECC4">
                <input type="hidden" name="token" id="token" value="MTQ3NjIxOTYwMsYPnwwZwDpy5UxbITWbHoZZOWKAs9jigLNL59lDUs6Da4XYiWGSGyL5lPodOiWgxz4lo9CZYKCVLUE3TsE8">
                <input type="hidden" name="remember_me" value="1">
                <input type="hidden" name="from" value="pc_login_modal_:browse">

                <div class="leftSide floatLeft loginColumnLeft-en">
                    <p class="signinError" style="display:none;"></p>
                    <p id="signinLoggingin" style="display:none;">Logging in...</p>
                    <div><input id="usernameModal" placeholder="Username (6+ characters)" class="js-signinUsernameModal signup_field" name="username" maxlength="50" type="text" value=""></div>
                    <div><input id="passwordModal" placeholder="Password (6+ characters)" class="js-signinPasswordModal signup_field" name="password" type="password" value=""></div>
                    <div class="loginAccessRemember">
                        <input type="checkbox" checked="" id="signinRemember">
                        <label for="signinRemember">Remember me on this computer<br>
                            <span class="loginAccessRememberInfo">(not recommended on public or shared computers)</span>
                        </label>
                    </div>
                    <div id="signinSubmit" class="orangeButton buttonBase js-loginSubmitModal">Login</div>
                    <div class="leftCol">
                        <ul>
                            <li class="alpha">
                            </li><li><a id="signinForgotpassword" href="/front/lost_password" onclick="ga('send', 'event', 'Login Page', 'click', 'Lost Password');">Forgot Username or Password?</a></li> |
                            <li class="omega"><a id="signinConfirmationEmail" href="/front/resend_confirmation_email" onclick="ga('send', 'event', 'Login Page', 'click', 'Resend Confirmation');">Resend confirmation email</a></li>
                        </ul>
                    </div>
                </div>

                <div class="rightSide floatRight loginColumnRight-en">
                    <h2 class="loginAccessTitle-en">Not a free member yet?</h2>
                    <span class="loginAccessMessage loginAccessMessageRight">Here's what you're missing out on!</span><br><br>
                    <ul class="clearfix">
                        <li class="alpha"><i class="mark registerSprite enabled"></i><span class="tab1">Download Videos</span></li>
                        <li><i class="mark registerSprite enabled"></i><span>Post Comments</span></li>
                        <li><i class="mark registerSprite enabled"></i><span class="tab3">Add Favorites</span></li>
                        <li><i class="mark registerSprite enabled"></i><span class="tab4">Create Playlists</span></li><br>
                        <li class="omega">And many more!</li>
                    </ul>
                    <br><a class="buttonBase greyButton" id="signupButtonId" href="/create_account_select">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- CREATE A PLAYLIST MODAL -->
<div id="create-playlist-modal" class="modalWrapper">
    <div class="playlist-modal">
        <div class="modal-title">Create a new Playlist</div>
        <div id="MHP1138-playlist-form" class="">
            <form>
                <div class="error display-none">Please enter the required information</div>
                <label for="MHP1138-new-playlist-title">Title*:</label>
                <input type="text" name="title" id="MHP1138-new-playlist-title" maxlength="35">

                <label for="MHP1138-new-playlist-tags">Tags*:</label>
                <input type="text" name="tags" id="MHP1138-new-playlist-tags" maxlength="150">

                <label for="MHP1138-new-playlist-description">Description:</label><br>
                <textarea name="description" rows="20" cols="20" id="MHP1138-new-playlist-description"></textarea>
                <label for="MHP1138-new-playlist-privacy">Privacy*:</label>

                <div class="filters subFilter" id="MHP1138-new-playlist-privacy">
                    <div class="dropdownTrigger">
                        <div>
                            <span class="textFilter">Public</span>
                            <span class="arrowFilters"></span>
                        </div>
                        <ul class="filterListItem dropdownWrapper" style="display: none;">
                            <li class="active alpha" name="public"><span>Public</span></li>
                            <li name="private" class="omega"><span>Private</span></li>
                        </ul>
                    </div>
                </div>

                <div class="modal-footer clearfix">
                    <input type="submit" name="submit" value="Save" id="MHP1138-add-playlist" class="submit-button buttonBase orangeButton">
                    <a class="buttonBase greyButton cancelButton" onclick="clearModalPlaylist();" data-modal="createPlaylist">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- END OF PLAYLIST MODAL -->

<!-- Playlist menu for video thumbnail -->

<div class="add-to-playlist-menu display-none" style="display: none;">
    <div class="signin"><a href="javascript:signinbox.show('to add to playlist');" style="display:inline;">Sign in</a> to add this to a playlist</div>
</div>
<!-- END -->
<div class="wrapper">

    <header itemscope="" itemtype="http://schema.org/WPHeader" id="header" style="padding-bottom: 45px;">
        <div id="headerWrapper">
            <div id="headerContainer">


                <div class="logo pornhub_logo " title="Pornhub">
                    <div itemscope="" itemtype="http://schema.org/Organization" class="logoWrapper">
                        <a itemprop="url" href="/" onclick="ga('send', 'event', 'Header', 'click', 'Logo');">
                            <img title="Pornhub" alt="Pornhub" width="150" height="40" src="{% static 'hub/img/logo.png' %}">
                        </a>
                    </div>
                </div>

                <div class="headerSearchWrapper"> 					<form id="search_form" method="get" action="/video/search">
                    <fieldset class="fs-nf">
                        <div id="searchBarContainer">
                            <input id="searchInput" type="text" value="" placeholder="Search..." maxlength="100" name="search" data-searchrnd="1476219602" data-searchhash="MTQ3NjIxOTYwMsYPnwwZwDpy5UxbITWbHoZZOWKAs9jigLNL59lDUs6Da4XYiWGSGyL5lPodOiWgxz4lo9CZYKCVLUE3TsE8" data-orientation="straight" autocomplete="off">
                            <ul id="searchSuggestions" style="display: none;"></ul>
                            <div id="searchTypeWrapper" class="js_dropdownBound" data-dropdown-id="0">
                                <div id="searchTypeSelected" class="dropdownTrigger" data-search-type="video">
                                    <i class="video"></i>
                                    <div class="dropArrow"></div>
                                </div>
                                <ul id="searchTypes" class="dropdownWrapper" style="display: none;">
                                    <li class="alpha"><span>What are you looking for?</span></li>
                                    <li class="video" data-search-type="video"><i class="video"></i><span>video</span></li><li class="photos" data-search-type="photos"><i class="photos"></i><span>photos</span></li><li class="members" data-search-type="members"><i class="members"></i><span>members</span></li><li class="pornstars" data-search-type="pornstars"><i class="pornstars"></i><span>pornstars</span></li><li class="gifs omega" data-search-type="gifs"><i class="gifs"></i><span>GIFs</span></li></ul>
                            </div>

                            <div id="btnSearch" class="orangeButton"><i></i></div>
                        </div>
                    </fieldset>
                </form>
                </div>








                <div id="topRightProfileMenu">


                    <div id="languageWrapper" class="js_dropdownBound" data-dropdown-id="2">
                        <div id="languageSelected" class="dropdownTrigger">
                            en								<div class="dropArrow"></div>
                        </div>
                        <ul id="languages" class="dropdownWrapper" data-hide-delayed-over="0" data-hide-delayed-timeout-id="" style="display: none;">
                            <li class="de alpha"><a href="http://de.pornhub.com/categories/hentai" data-lang="de" data-root="pornhub.com" onclick="ga('send', 'event', 'Language Flags Header', 'click', 'Deutsch');"><span>Deutsch</span></a></li>
                            <li class="fr"><a href="http://fr.pornhub.com/categories/hentai" data-lang="fr" data-root="pornhub.com" onclick="ga('send', 'event', 'Language Flags Header', 'click', 'Français');"><span>Français</span></a></li>
                            <li class="es"><a href="http://es.pornhub.com/categories/hentai" data-lang="es" data-root="pornhub.com" onclick="ga('send', 'event', 'Language Flags Header', 'click', 'Español');"><span>Español</span></a></li>
                            <li class="it"><a href="http://it.pornhub.com/categories/hentai" data-lang="it" data-root="pornhub.com" onclick="ga('send', 'event', 'Language Flags Header', 'click', 'Italiano');"><span>Italiano</span></a></li>
                            <li class="pt"><a href="http://pt.pornhub.com/categories/hentai" data-lang="pt" data-root="pornhub.com" onclick="ga('send', 'event', 'Language Flags Header', 'click', 'Português');"><span>Português</span></a></li>
                            <li class="pl"><a href="http://pl.pornhub.com/categories/hentai" data-lang="pl" data-root="pornhub.com" onclick="ga('send', 'event', 'Language Flags Header', 'click', 'Polski');"><span>Polski</span></a></li>
                            <li class="rt"><a href="http://rt.pornhub.com/categories/hentai" data-lang="rt" data-root="pornhub.com" onclick="ga('send', 'event', 'Language Flags Header', 'click', 'Русский');"><span>Русский</span></a></li>
                            <li class="jp"><a href="http://jp.pornhub.com/categories/hentai" data-lang="jp" data-root="pornhub.com" onclick="ga('send', 'event', 'Language Flags Header', 'click', '日本語');"><span>日本語</span></a></li>
                            <li class="nl omega"><a href="http://nl.pornhub.com/categories/hentai" data-lang="nl" data-root="pornhub.com" onclick="ga('send', 'event', 'Language Flags Header', 'click', 'Dutch');"><span>Dutch</span></a></li>
                        </ul>
                    </div>

                    <a class="removeAdLink" id="headerLoginLink" href="/login" onclick="signinbox.show(); ga('send', 'event', 'Header', 'click', 'Login'); return false;">Login</a>
                    <a href="/create_account_select" onclick="ga('send', 'event', 'Header', 'click', 'Sign Up');">Sign Up</a>
                </div>
            </div>
        </div>

        <div itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" id="headerMenuContainer">
            <div id="headerMainMenuInner">
                <div id="headerCampaignDiv">

                    <ul id="headerMainMenu">
                        <li itemprop="name" id="menuItem1" class="menu item-1 home alpha">
                            <a itemprop="url" href="/" rel="" class="" target="_self">
                                Home
                                <span class="activeLine"></span>
                            </a>
                        </li>
                        <li itemprop="name" id="menuItem2" class="menu item-2 home">
                            <a itemprop="url" href="/video" rel="" class="active" target="_self">
                                Videos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {% block container %}
        {% endblock container %}
    </div><!-- closes container div-->

</div><!--closes section_wrapper-->


<!--closes section_wrapper-->



<div class="reset"></div>






<section id="footer">
    <div class="footerContent">
        <div class="col">
            <ul>
                <li class="title alpha">Information</li>
                <li><a id="footerMenu_terms" href="/information#terms" rel="nofollow">Terms &amp; Conditions</a></li>
                <li><a id="footerMenu_privacy" href="/information#privacy" rel="nofollow">Privacy Policy</a></li>
                <li><a id="footerMenu_dmca" href="/information#dmca" rel="nofollow">DMCA</a></li>
                <li class="omega"><a id="footerMenu_btn-2257" href="/information#btn-2257" rel="nofollow">2257</a></li>
            </ul>
        </div>

        <div class="col">
            <ul>
                <li class="title alpha">Work With Us</li>
                <li><a id="footerMenu_partner" href="/information#partner" rel="nofollow">Content Partners</a></li>
                <li><a id="footerMenu_advertising" href="/information#advertising" rel="nofollow">Advertise</a></li>
                <li><a href="/webmasters" rel="nofollow">Webmasters</a></li>
                <li><a href="/amateur" rel="nofollow">Amateur Payment Program</a></li>
                <li class="omega"><a href="/press" rel="nofollow">Press</a></li>
            </ul>
        </div>

        <div class="col">
            <ul>
                <li class="title alpha">Support and Help</li>
                <li><a id="footerMenu_faq" href="/information#faq" rel="nofollow">FAQ</a></li>
                <li>
                    <a href="/support" rel="nofollow">
                        Contact Support</a>
                </li>
                <li><a href="//feedback.pornhub.com" rel="nofollow">Feedback Forum</a></li>
                <li class="omega"><a href="/sitemap">Sitemap</a></li>
            </ul>
        </div>

        <div class="col">
            <ul>
                <li class="title alpha">Discover</li>
                <li><a href="/blog">Pornhub Blog</a></li>
                <li><a href="//www.pornhub.com/insights">Insights Blog</a></li>
                <li><a onclick="javascript:void(0);" href="/front/set_mobile?redirect=Mg4JA0E1sfM_ONv5d6x_AqIHiU2lJfOSIF0k1pZEqWX2AeDDor-8HLZTINvxNq68Zt3jcwco7CDzhhM3jJvFQg..">Mobile </a>/
                    <a onclick="javascript:void(0);" href="/front/set_tablet?redirect=Mg4JA0E1sfM_ONv5d6x_AqIHiU2lJfOSIF0k1pZEqWX2AeDDor-8HLZTINvxNq68Zt3jcwco7CDzhhM3jJvFQg.."> Tablet </a></li>
                <li class="omega"><a href="/more">More</a></li>
            </ul>
        </div>
    </div>



</section>

</body></html>